*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*------header-----*/
.header{
    height: 120px;
    background-color: aqua;
}

nav{
    background-color: black;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
menu{
    background-color: aquamarine;
    height: 40px;
    line-height: 40px;
}

menu ul{
    display: flex;
    list-style: none;
}
menu ul li{
    margin: auto;
}
menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
menu ul li a:hover{
    color: blue;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: auto;
}
nav ul li a{
    color: antiquewhite;
    text-decoration: none;
}
nav ul li{
    color: white;
}

/*address form*/

.address-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top:0;
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}
.diachi:hover .address-form{
    display: inline;
    padding: 200px 300px;
}
.address-from-content{
    width: 400px;
    height: 450px;
    background-color:white ;
    border-radius: 5px;
}
.address-form-content form{
    padding: 0px 40px;
}
.address-form-content h4{
    font-size: 14px;
    padding:12px 0px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
/*
.address-from-content h4 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0px 6px;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
*/
.address-form-content form p{
    font-size: 16px;

}
.select{
    height: 45px;
    display: block;
    width: 90%;
    margin-top: 20px;
    margin-left:10px;
    border: 1px solid 1px;
    padding: 6px;
    border-radius: 5px;
}
.nha{
    margin-left: 10px;
    height: 45px;
    display: block;
    width: 90%;
    margin-top: 20px;
    border: 1px solid 1px;
    padding: 6px;
    border-radius: 5px;
}
.xacnhan{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    background-color: #f97e0e;
    cursor: pointer;
    outline:  none;
    border: none;
    color: white;
    border-radius: 5px;
}


/*hộp tìm kiếm*/
.box{
    margin: auto;
    width:fit-content;
    height: fit-content;
}


/*----slider-----*/
li {
    list-style: none;
}
.slider{
    padding: 20px 0px;
    height: 350px;
}
.slider-content{
    display: flex;
    justify-content: space-between;
}
.slider-content-left{
    width: 65%;
}
.slider-content-left-top{
    width: 100%;
    height: 300px;
}
.slider-content-left-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-content-left-bottom{
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 50px;
}
.slider-content-left-bottom li{
    width: 20%;
    text-align: center;
    cursor: pointer;
    padding: 6px 0px;
    height: 100%;
    line-height: 38px;
    position: relative;
}
.slider-content-left-bottom li::before{
    display: block;
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}
.slider-content-left-bottom li.tieude{
    border-top: 4px solid #fff200 ;
}
.slider-content-right{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px;
    justify-content: space-around;
}
.slider-content-right li{
    width: 50%;
    height: 50%;
    text-align: center;
    margin-bottom: 3px;
}
.slider-content-right img{
    width: 170px;
    height: 170px;
}

/*----- footer-----*/
footer{
    float: left;
    width: 100%;
    background-color: black;
    min-height: 150px;
    margin-top: 50px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
}
.row{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.boxcenter2{
    width: 80%;
    margin: 0 auto;
    
}
.boxfooter1{
  
    width: 23%;
    float: left;
    margin-right: 2%;
}
.boxfooter2{
    width: 23%;
    float: left;
    margin-right: 2%;
}
.boxfooter3{
    width: 45%;
    float: left;
    margin-left: 5%;
}
.textcenter{
    text-align: center;
}
.colorc{
    color: white;
}
.mrb10{
    margin-bottom: 10px;
}
.add1{
    color: rgb(248, 72, 81);
}
.add2{
    color: rgb(252, 119, 119)
}
.add{
    color: rgb(250, 182, 161);
}
.sdt{
    color: rgb(247, 206, 187);
}
footer a{
    text-decoration: none;
 
    color: white;
}
footer a:hover{
    color: rgb(252, 122, 122);
    text-decoration: underline;
}
.icon{
    font-size: 30px;
    margin-right: 10px;
}
.icon2{
    font-size: 14px;
    margin-right: 3px;
}
.icon3{
    margin-right: 5px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*------header-----*/
.header{
    height: 120px;
    background-color: aqua;
}

nav{
    background-color: black;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
menu{
    background-color: aquamarine;
    height: 40px;
    line-height: 40px;
}

menu ul{
    display: flex;
    list-style: none;
}
menu ul li{
    margin: auto;
}
menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
menu ul li a:hover{
    color: blue;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: auto;
}
nav ul li a{
    color: antiquewhite;
    text-decoration: none;
}
nav ul li{
    color: white;
}

/*address form*/

.address-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top:0;
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}
.diachi:hover .address-form{
    display: inline;
    padding: 200px 300px;
}
.address-from-content{
    width: 400px;
    height: 450px;
    background-color:white ;
    border-radius: 5px;
}
.address-form-content form{
    padding: 0px 40px;
}
.address-form-content h4{
    font-size: 14px;
    padding:12px 0px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
/*
.address-from-content h4 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0px 6px;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
*/
.address-form-content form p{
    font-size: 16px;

}
.select{
    height: 45px;
    display: block;
    width: 90%;
    margin-top: 20px;
    margin-left:10px;
    border: 1px solid 1px;
    padding: 6px;
    border-radius: 5px;
}
.nha{
    margin-left: 10px;
    height: 45px;
    display: block;
    width: 90%;
    margin-top: 20px;
    border: 1px solid 1px;
    padding: 6px;
    border-radius: 5px;
}
.xacnhan{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    background-color: #f97e0e;
    cursor: pointer;
    outline:  none;
    border: none;
    color: white;
    border-radius: 5px;
}


/*hộp tìm kiếm*/
.box{
    margin: auto;
    width:fit-content;
    height: fit-content;
}


/*----slider-----*/
li {
    list-style: none;
}
.slider{
    padding: 20px 0px;
    height: 350px;
}
.slider-content{
    display: flex;
    justify-content: space-between;
}
.slider-content-left{
    width: 65%;
}
.slider-content-left-top{
    width: 100%;
    height: 300px;
}
/* .slider-content-left-top img{
    width: 65%;
    height: 300px;
    /* object-fit: cover; */
    position: absolute;

} */
.slider-content-left-bottom{
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 50px;
}
.slider-content-left-bottom li{
    width: 20%;
    text-align: center;
    cursor: pointer;
    padding: 6px 0px;
    height: 100%;
    line-height: 38px;
    position: relative;
}
.slider-content-left-bottom li::before{
    display: block;
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}
.slider-content-left-bottom li.tieude{
    border-top: 4px solid #fff200 ;
}
.slider-content-right{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px;
    justify-content: space-around;
}
.slider-content-right li{
    width: 50%;
    height: 50%;
    text-align: center;
    margin-bottom: 3px;
}
/* .slider-content-right img{
    width: 170px;
    height: 170px;
} */

/*----- footer-----*/
footer{
    float: left;
    width: 100%;
    background-color: black;
    min-height: 150px;
    margin-top: 50px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
}
.row{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.boxcenter2{
    width: 80%;
    margin: 0 auto;
    
}
.boxfooter1{
  
    width: 23%;
    float: left;
    margin-right: 2%;
}
.boxfooter2{
    width: 23%;
    float: left;
    margin-right: 2%;
}
.boxfooter3{
    width: 45%;
    float: left;
    margin-left: 5%;
}
.textcenter{
    text-align: center;
}
.colorc{
    color: white;
}
.mrb10{
    margin-bottom: 10px;
}
.add1{
    color: rgb(248, 72, 81);
}
.add2{
    color: rgb(252, 119, 119)
}
.add{
    color: rgb(250, 182, 161);
}
.sdt{
    color: rgb(247, 206, 187);
}
footer a{
    text-decoration: none;
 
    color: white;
}
footer a:hover{
    color: rgb(252, 122, 122);
    text-decoration: underline;
}
.icon{
    font-size: 30px;
    margin-right: 10px;
}
.icon2{
    font-size: 14px;
    margin-right: 3px;
}
.icon3{
    margin-right: 5px;
}



/*------them----*/

/* .slider-content-left-top-btn{
    position: absolute;
    top: 60%;
    justify-content: space-between;
    width: 65%;
    display: flex;
    padding-left:5px;
} */

/* .slider-content-left-top-btn i{
    color: #333; 
    font-size: 32px;
    height: 50px;
    width: 30px;
    background-color: #ddd;
    justify-content: center;
    align-items: center;
    transform:translateY(-50%) ;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
} */



/* banner 1*/
.baner1{
    padding-top:50px;
    padding-left: 40px;
}
.container-item-1{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height:500px;
    background-color: aquamarine;
    margin-top: 30px;
}
.title{
    color: #ff0400;
    padding-top: 20px;
    font-size: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left:15px;
}
.c1{
    padding-top: 20px;
    width: 23%; 
    margin:1%;
}
.c1 img{
    height:280px; 
    width:100%;
}
.c1-text{
    text-align: center;
}
.price{
    padding-bottom: 3px;
    font-weight: bold;
    color: #ff0400;
}
.name:hover{
    color:red;
}
.container-item-row-1{
    display: flex;
    width:100%;
}
.c1:hover{
    border-radius: 2px;
    transform: scale(1.1);
}
.hot-title{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.hot-row1{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hot-row1 img{
    width:40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.hot-row1 p{
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
}
.hot-row1 a:hover{
    transform: scale(1.1);
}
.owl-nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 40%;
    transform: translateY(-50%);
    background-color: transparent;
}
.owl-nav button span{
    font-size: 50px;
}