*{
    padding:0px; 
    margin:0px; 
    box-sizing: border-box;
}
.banner{
    width:1240px; 
    margin: auto;
    margin-bottom: 80px;
}
.casio{
    display: flex;
    height:500px;
    width:1240px; 
    background-color: brown;
    margin-bottom: 70px;
    padding-top:30px;
    margin-left:25px;
}
.casio-left{
    width:25%;
}
.casio-right{
    width: 75%;;
}
.o1{
    display: flex;
    width:950px;
}
.o1 .item1{
    margin-left: 20px;
}
.nd{
    padding-top: 30px;
}
.item img{
    width:80px;
    height:350px;
}
.nd{
    text-align: center;
}
.banner .owl-nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 40%;
    transform: translateY(-50%);
    background-color: transparent;
}
.banner .owl-nav button span{
    font-size: 50px;
}
.casio .owl-nav {
    position: absolute;
    width: 78.5%;
    display: flex;
    justify-content: space-between;
    top: 40%;
    transform: translateY(-50%);
    background-color: transparent;
}
.casio .owl-nav button span{
    font-size: 50px;
}
